<center><h1>Nice to meet you!</h1></center>

<div class="container" style="linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
Join like minded people in your local area who are part of the newest pet-loving community. Make someones day, sign up, become members and share the happiness pets give.
<br><br>
Great to fit around work   <i class="fa-solid fa-briefcase"></i>
<br>Or on holiday   <i class="fa-solid fa-car"></i>
<br>Meet new friends  <i class="fas fa-dog"></i>
<br><br>
Purrrrito brings together animal lovers to borrow & share pets. We connect pet owners with trusted local pet lovers who would love to look after their pets.
</div>
