<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
<body>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1605001011156-cbf0b0f67a51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);">
  <div class="container">
    <h1>Purrrrito allows you to borrow an adorable pet!</h1>
    <p>Add the joy of pets to your life.</p>
    <a class="btn btn-flat" href="pets">Browse Pets!</a>
  </div>
</div>
<br>
<h1>Pet Rentals UK and beyond 🚀</h1>
    <p>Rent a pet for a unique experience in many locations, click on the browse pets link.<p>
    <p>Do you own an adorable pet ? Why not rent your pet and bring joy to others ? Click on the link to sign up.<p>

<h1> Top Rated Pets for Rent </strong></h1>
<p>Previous Renters agree: these pets are highly rated for companionship, fun, or exercise !<p>
<div class="flex-container">
  <div class="Great company">...</div>
  <div class="Purrfect fun">...</div>
  <div class="Fitness">...</div>
</div>

<p>Pets for all personalities, abilities, and ages<p>
<div class="flex-container">
  <div class="Playful">...</div>
  <div class="Protective">...</div>
  <div class="Unique">...</div>

    </body>
</html>